In [1]:
import array
import collections

# list generation
symbols = '$¢£¥€¤'
beyond_ascii = [ord(x) for x in symbols if ord(x) > 127]
beyond_ascii = list(filter(lambda x: x > 127, map(ord, symbols)))  # * the same

# str bytes tuple # * not iterable

In [2]:
import array
array.array('I', (ord(x) for x in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [13]:
(ord(x) for x in symbols)

NameError: name 'symbols' is not defined

In [17]:
metro_areas = [
('Tokyo','JP',36.933,(35.689722,139.691667)), # ➊
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('Name', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: # ➋
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

Name            |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [25]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')

tokyo = City('Tokyo', 'JP', '36.933', (35.689722, 139.691667))

In [27]:
tokyo.population

'36.933'

In [28]:
City._fields

('name', 'country', 'population', 'coordinates')

In [32]:
delhi_data = ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=(28.613889, 77.208889))

In [34]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', (28.613889, 77.208889))])

In [3]:
a = [1,2,3]
print(id(a))
a*=2
print(id(a))
a.__iadd__(a)

140049394833840
140049394833840

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
import dis

In [6]:
dis.dis('a*=2')

1           0 LOAD_NAME                0 (a)
              2 LOAD_CONST               0 (2)
              4 INPLACE_MULTIPLY
              6 STORE_NAME               0 (a)
              8 LOAD_CONST               1 (None)
             10 RETURN_VALUE

In [13]:
sorted('abcfdsfagljHH', key=str.upper) #* key will apply on every element of sequence

['a', 'a', 'b', 'c', 'd', 'f', 'f', 'g', 'H', 'H', 'j', 'l', 's']

In [23]:
from array import array
from random import random
size = 10**5
floats = array('d', (random() for i in range(size)))
print(floats[-1])
with open('floats.bin', 'wb') as fp:
    floats.tofile(fp)
floats2 = array('d')
with open('floats.bin', 'rb') as fp2:
    floats2.fromfile(fp2, size)
print(floats2[-1])

0.6859382333263897
0.6859382333263897

In [24]:
numebrs = memoryview('h', [-1,1])
# memv_oct =

TypeError: memoryview() takes at most 1 argument (2 given)